<h1><%="Welcome #{current_user.name} to your Recipes"%></h1>
<%= render '/shared/navbar'%>
<div class = 'container'>

     <button class = 'btn_add_recipe btn btn-primary'><%= link_to 'Add Recipe', new_recipe_path, class: "text-white"%></button>
    
<% @recipes.each do |recipe| %> <div class="card mb-3">
 <div class="card-header d-flex justify-content-between align-items-center">
 <%= link_to recipe.name, recipe_path(recipe.id) %>
 <% if current_user.present? && can?(:destroy, recipe) %>
 <%= button_to "Delete", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %> 
 <% end %> 
 </div><div class="card-body">
 <p class="card-text"><%= recipe.description %></p>    </div>   </div>  <% end %>
</div>

</div>

